In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
data = pd.read_csv("tmp/ventas_frutas.csv")

In [7]:
data.head()

        Fecha     Fruta  Cantidad_Vendida  Precio_Unitario  Costo_Unitario
0  2024-07-19  Naranjas                77              0.5            0.50
1  2024-07-20  Naranjas                41              0.4            0.20
2  2024-07-20   Bananas                69              0.8            0.15
3  2024-07-20  Naranjas                33              0.3            0.15
4  2024-07-20  Manzanas                28              1.0            0.60